* {
    box-sizing: border-box;
}

body{
    font-size: 18px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 132, 255);
    background: url(../images/mainbg.jpg)
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

h1, h2, h3, p{
    margin-bottom: 20px;
}

#masthead{
    background: white;
    margin: 0 0 30px;
    color: white;
    overflow: auto;
    border-bottom: 2px solid rgb(209, 209, 209);
    z-index: 99;
    position: fixed;
    width: 100%;
}

#logo{
    width: 250px;
    height: 90px;
    background: rgb(0, 132, 255);
    color: white;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 90px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
}

nav{
    float: right;
    margin-top: 25px;
    
}

nav a{
    color: gray;
    line-height: 90px;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    border-left: 1px solid rgb(206, 206, 206);
    padding-left: 15px;
    line-height: 18px;
}

nav a:first-child{
    border-left: 0 none;
}

#main-container{
    padding-top: 130px;
    
}

.main-section{
    background: white;
    padding: 30px;
    margin: 0 0 40px 0;
    float: left;
    max-width: 650px;

}

.main-section h1{
    border-bottom: 2px solid rgb(199, 199, 199);
    padding: 10px;
}

.main-section p{
    color: black;
}

.main-section img{
    float: left;
}

.sidebar{
    width: 270px;
    height: 200px;
    float: right;
    background: white;
}

#connect{
    margin: 20px;
    text-align: center;
}

#connect h3{
    border-bottom: 1px solid rgb(199, 199, 199);
    margin-top: 30px;
    text-align: center;
    
}

.social{
    padding-top: 30px;
    width: 60px;
    text-decoration: center;
}

#footer{
    border-top: 5px solid rgb(0, 132, 255);
    color: white;
    text-align: center;
    padding-top: 20px;
    background: rgb(146, 146, 146);
}

/****************************************************************/

#contact-form{
    background: white;
    width: 650px;
    float: left;
    padding: 30px;
    margin: 0 0 40px 0;
}